Repository ferozemohideen/incepta-v3-hqtoyo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @backend-team, @security-team, @frontend-team, @devops-team, @data-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/lib/s3/index.ts
  src/backend/src/lib/s3/index.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/lib/scraper/base.scraper.ts
  src/backend/src/lib/scraper/base.scraper.ts
Owners: @data-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/lib/scraper/grant.scraper.ts
  src/backend/src/lib/scraper/grant.scraper.ts
Owners: @data-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/lib/scraper/index.ts
  src/backend/src/lib/scraper/index.ts
Owners: @data-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/lib/scraper/technology.scraper.ts
  src/backend/src/lib/scraper/technology.scraper.ts
Owners: @data-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/lib/scraper/university.scraper.ts
  src/backend/src/lib/scraper/university.scraper.ts
Owners: @data-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/services/auth.service.ts
  src/backend/src/services/auth.service.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/services/grant.service.ts
  src/backend/src/services/grant.service.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/services/index.ts
  src/backend/src/services/index.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/services/message.service.ts
  src/backend/src/services/message.service.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/services/technology.service.ts
  src/backend/src/services/technology.service.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/services/user.service.ts
  src/backend/src/services/user.service.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/utils/encryption.ts
  src/backend/src/utils/encryption.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/utils/errors.ts
  src/backend/src/utils/errors.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/utils/index.ts
  src/backend/src/utils/index.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/utils/validation.ts
  src/backend/src/utils/validation.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/tests/integration/auth.test.ts
  src/backend/tests/integration/auth.test.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/tests/integration/grant.test.ts
  src/backend/tests/integration/grant.test.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/tests/integration/message.test.ts
  src/backend/tests/integration/message.test.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/tests/integration/technology.test.ts
  src/backend/tests/integration/technology.test.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/tests/integration/user.test.ts
  src/backend/tests/integration/user.test.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/tests/unit/services/auth.service.test.ts
  src/backend/tests/unit/services/auth.service.test.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/tests/unit/services/grant.service.test.ts
  src/backend/tests/unit/services/grant.service.test.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/tests/unit/services/message.service.test.ts
  src/backend/tests/unit/services/message.service.test.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/tests/unit/services/technology.service.test.ts
  src/backend/tests/unit/services/technology.service.test.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/tests/unit/services/user.service.test.ts
  src/backend/tests/unit/services/user.service.test.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/tests/unit/utils/encryption.test.ts
  src/backend/tests/unit/utils/encryption.test.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/tests/unit/utils/validation.test.ts
  src/backend/tests/unit/utils/validation.test.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/web/.env.development
  src/web/.env.development
Owners: @frontend-team

Add public-samples/incepta-v3-hqtoyo/src/web/.env.production
  src/web/.env.production
Owners: @frontend-team

Add public-samples/incepta-v3-hqtoyo/src/web/.env.test
  src/web/.env.test
Owners: @frontend-team

Add public-samples/incepta-v3-hqtoyo/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @frontend-team

Add public-samples/incepta-v3-hqtoyo/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/incepta-v3-hqtoyo/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/incepta-v3-hqtoyo/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/incepta-v3-hqtoyo/src/web/package.json
  src/web/package.json
Owners: @frontend-team

Add public-samples/incepta-v3-hqtoyo/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/incepta-v3-hqtoyo/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team

Add public-samples/incepta-v3-hqtoyo/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @frontend-team

Add public-samples/incepta-v3-hqtoyo/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @frontend-team

.github/CODEOWNERS:

* @tech-leads

# Backend code ownership requiring both backend and security team review
src/backend/** @backend-team @security-team

# Frontend code ownership requiring frontend team review
src/web/** @frontend-team

# Infrastructure code requiring both DevOps and security team review
infrastructure/** @devops-team @security-team

# CI/CD workflow configurations requiring DevOps team review
.github/workflows/** @devops-team

# Authentication code requiring security team review
src/backend/src/lib/auth/** @security-team

# Data scraping code requiring both data and security team review
src/backend/src/lib/scraper/** @data-team @security-team

# Search infrastructure requiring both data and backend team review
src/backend/src/lib/elasticsearch/** @data-team @backend-team

# Grant processing services requiring both backend and data team review
src/backend/src/services/grant/** @backend-team @data-team

# AI matching services requiring both backend and data team review
src/backend/src/services/matching/** @backend-team @data-team

# Grant-related frontend components requiring both frontend and data team review
src/web/src/components/grant/** @frontend-team @data-team
