Repository ferozemohideen/incepta-v3-hqtoyo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @backend-team, @security-team, @frontend-team, @devops-team, @data-team

.github/CODEOWNERS:

* @tech-leads

# Backend code ownership requiring both backend and security team review
src/backend/** @backend-team @security-team

# Frontend code ownership requiring frontend team review
src/web/** @frontend-team

# Infrastructure code requiring both DevOps and security team review
infrastructure/** @devops-team @security-team

# CI/CD workflow configurations requiring DevOps team review
.github/workflows/** @devops-team

# Authentication code requiring security team review
src/backend/src/lib/auth/** @security-team

# Data scraping code requiring both data and security team review
src/backend/src/lib/scraper/** @data-team @security-team

# Search infrastructure requiring both data and backend team review
src/backend/src/lib/elasticsearch/** @data-team @backend-team

# Grant processing services requiring both backend and data team review
src/backend/src/services/grant/** @backend-team @data-team

# AI matching services requiring both backend and data team review
src/backend/src/services/matching/** @backend-team @data-team

# Grant-related frontend components requiring both frontend and data team review
src/web/src/components/grant/** @frontend-team @data-team

Add public-samples/incepta-v3-hqtoyo/.github/dependabot.yml
  .github/dependabot.yml
Owners: @tech-leads

Add public-samples/incepta-v3-hqtoyo/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @tech-leads

Add public-samples/incepta-v3-hqtoyo/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team

Add public-samples/incepta-v3-hqtoyo/.github/workflows/deploy-production.yml
  .github/workflows/deploy-production.yml
Owners: @devops-team

Add public-samples/incepta-v3-hqtoyo/.github/workflows/deploy-staging.yml
  .github/workflows/deploy-staging.yml
Owners: @devops-team

Add public-samples/incepta-v3-hqtoyo/.github/workflows/frontend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @devops-team

Add public-samples/incepta-v3-hqtoyo/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @devops-team

Add public-samples/incepta-v3-hqtoyo/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @tech-leads

Add public-samples/incepta-v3-hqtoyo/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @tech-leads

Add public-samples/incepta-v3-hqtoyo/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @tech-leads

Add public-samples/incepta-v3-hqtoyo/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @tech-leads

Add public-samples/incepta-v3-hqtoyo/infrastructure/docker/nginx/Dockerfile
  infrastructure/docker/nginx/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/docker/nginx/default.conf
  infrastructure/docker/nginx/default.conf
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/docker/nginx/nginx.conf
  infrastructure/docker/nginx/nginx.conf
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/kubernetes/base/configmap.yaml
  infrastructure/kubernetes/base/configmap.yaml
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/kubernetes/base/deployment.yaml
  infrastructure/kubernetes/base/deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/kubernetes/base/hpa.yaml
  infrastructure/kubernetes/base/hpa.yaml
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/kubernetes/base/ingress.yaml
  infrastructure/kubernetes/base/ingress.yaml
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/kubernetes/base/secrets.yaml
  infrastructure/kubernetes/base/secrets.yaml
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/kubernetes/base/service.yaml
  infrastructure/kubernetes/base/service.yaml
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/kubernetes/overlays/production/kustomization.yaml
  infrastructure/kubernetes/overlays/production/kustomization.yaml
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/kubernetes/overlays/staging/kustomization.yaml
  infrastructure/kubernetes/overlays/staging/kustomization.yaml
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/scripts/monitoring-setup.sh
  infrastructure/scripts/monitoring-setup.sh
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/scripts/restore.sh
  infrastructure/scripts/restore.sh
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/scripts/rollback.sh
  infrastructure/scripts/rollback.sh
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/scripts/ssl-renew.sh
  infrastructure/scripts/ssl-renew.sh
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/terraform/acm.tf
  infrastructure/terraform/acm.tf
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/terraform/cloudfront.tf
  infrastructure/terraform/cloudfront.tf
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/terraform/cloudwatch.tf
  infrastructure/terraform/cloudwatch.tf
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/terraform/ecs.tf
  infrastructure/terraform/ecs.tf
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/terraform/elasticache.tf
  infrastructure/terraform/elasticache.tf
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/terraform/elasticsearch.tf
  infrastructure/terraform/elasticsearch.tf
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/terraform/iam.tf
  infrastructure/terraform/iam.tf
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/terraform/kms.tf
  infrastructure/terraform/kms.tf
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @security-team

Add public-samples/incepta-v3-hqtoyo/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @security-team
