Repository ferozemohideen/incepta-v3-hqtoyo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @backend-team, @security-team, @frontend-team, @devops-team, @data-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/api/validators/technology.validator.ts
  src/backend/src/api/validators/technology.validator.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/api/validators/user.validator.ts
  src/backend/src/api/validators/user.validator.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/config/auth.config.ts
  src/backend/src/config/auth.config.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/config/database.config.ts
  src/backend/src/config/database.config.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/config/elasticsearch.config.ts
  src/backend/src/config/elasticsearch.config.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/config/index.ts
  src/backend/src/config/index.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/config/logger.config.ts
  src/backend/src/config/logger.config.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/config/redis.config.ts
  src/backend/src/config/redis.config.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/config/s3.config.ts
  src/backend/src/config/s3.config.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/config/scraper.config.ts
  src/backend/src/config/scraper.config.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/constants/errorCodes.ts
  src/backend/src/constants/errorCodes.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/constants/index.ts
  src/backend/src/constants/index.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/constants/roles.ts
  src/backend/src/constants/roles.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/constants/statusCodes.ts
  src/backend/src/constants/statusCodes.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/db/migrations/001_initial_schema.ts
  src/backend/src/db/migrations/001_initial_schema.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/db/migrations/002_add_user_roles.ts
  src/backend/src/db/migrations/002_add_user_roles.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/db/migrations/003_add_technology_fields.ts
  src/backend/src/db/migrations/003_add_technology_fields.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/db/migrations/004_add_grant_schema.ts
  src/backend/src/db/migrations/004_add_grant_schema.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/db/models/grant.model.ts
  src/backend/src/db/models/grant.model.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/db/models/index.ts
  src/backend/src/db/models/index.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/db/models/message.model.ts
  src/backend/src/db/models/message.model.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/db/models/technology.model.ts
  src/backend/src/db/models/technology.model.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/db/models/user.model.ts
  src/backend/src/db/models/user.model.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/interfaces/auth.interface.ts
  src/backend/src/interfaces/auth.interface.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/interfaces/config.interface.ts
  src/backend/src/interfaces/config.interface.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/interfaces/grant.interface.ts
  src/backend/src/interfaces/grant.interface.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/interfaces/index.ts
  src/backend/src/interfaces/index.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/interfaces/message.interface.ts
  src/backend/src/interfaces/message.interface.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/interfaces/technology.interface.ts
  src/backend/src/interfaces/technology.interface.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/interfaces/user.interface.ts
  src/backend/src/interfaces/user.interface.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/lib/auth/index.ts
  src/backend/src/lib/auth/index.ts
Owners: @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/lib/auth/jwt.ts
  src/backend/src/lib/auth/jwt.ts
Owners: @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/lib/auth/oauth.ts
  src/backend/src/lib/auth/oauth.ts
Owners: @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/lib/cache/index.ts
  src/backend/src/lib/cache/index.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/lib/cache/redis.ts
  src/backend/src/lib/cache/redis.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/lib/elasticsearch/index.ts
  src/backend/src/lib/elasticsearch/index.ts
Owners: @data-team, @backend-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/lib/elasticsearch/technology.index.ts
  src/backend/src/lib/elasticsearch/technology.index.ts
Owners: @data-team, @backend-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/lib/logger/index.ts
  src/backend/src/lib/logger/index.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/lib/queue/index.ts
  src/backend/src/lib/queue/index.ts
Owners: @backend-team, @security-team

Add public-samples/incepta-v3-hqtoyo/src/backend/src/lib/queue/kafka.ts
  src/backend/src/lib/queue/kafka.ts
Owners: @backend-team, @security-team

.github/CODEOWNERS:

* @tech-leads

# Backend code ownership requiring both backend and security team review
src/backend/** @backend-team @security-team

# Frontend code ownership requiring frontend team review
src/web/** @frontend-team

# Infrastructure code requiring both DevOps and security team review
infrastructure/** @devops-team @security-team

# CI/CD workflow configurations requiring DevOps team review
.github/workflows/** @devops-team

# Authentication code requiring security team review
src/backend/src/lib/auth/** @security-team

# Data scraping code requiring both data and security team review
src/backend/src/lib/scraper/** @data-team @security-team

# Search infrastructure requiring both data and backend team review
src/backend/src/lib/elasticsearch/** @data-team @backend-team

# Grant processing services requiring both backend and data team review
src/backend/src/services/grant/** @backend-team @data-team

# AI matching services requiring both backend and data team review
src/backend/src/services/matching/** @backend-team @data-team

# Grant-related frontend components requiring both frontend and data team review
src/web/src/components/grant/** @frontend-team @data-team
